body {
  font-family: "Lupa Traktor";
  color:darkred;
  background-position-x: center;
  background-image: url("https://images1.ynet.co.il/PicServer5/2018/04/04/8449526/8_6.jpg");
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: xx-large;
}


